

.single-post-right-container {
    width: 18%;
}

.comments-single-post {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.single-comment-div {
    width: 95%;
    padding-left: 10px;
    padding-top: 20px;
}

.single-comment-div > * {
    margin: 0;
    display: inline;

}

.top-right-div {
    height: 565px;
    border-bottom: 1px solid black;
    overflow-y: scroll;
    /* border: red 1px solid; */
}

.top-right-div::-webkit-scrollbar {
    display: none;
  }


.single-post-div {
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 5%;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.fix-comments-div {
    display: flex;

}

.username-body-comment > * {
    margin: 0;
    display: flex;
    max-width: 250px;
    padding-top:10px;
}

.page-container-single-post {
    height: 100%;
    width: 100%;


}

#actual-comment {
    overflow-wrap: break-word;
    display: inline-block;
}


.edit-delete-single-post-page {
    margin-left: 90%;
}

#edit-pencil-single-post {
    padding-right: 7px;
}

#comment-profile-pic {
    max-width: 35px;
    max-height: 35px;
    min-width: 35px;
    min-height: 35px;
    border-radius: 50%;
    margin-bottom: 12px;
    margin-right: 10px;
    margin-left: 5px;
}

#comment-count-single {
    padding-left: 20px;
}

#comment-username-right {
    padding-right: 5px;
    font-weight: 600;
    font-size: 15px;
}

#edit-delete-comment-button-single {
    text-align: end;
    width: 13%;
    padding-left: 15%;
    padding-bottom: 20px;
}

#edit-pencil-single-post:hover {
    cursor: pointer;
}

#a-unique-id {
    margin-top: 7px;
}

#a-unique-id:hover {
    cursor: pointer;
}

#trash-can-single-post-stuff:hover {
    cursor: pointer;
}
