#comment-textarea {
    resize: none;
    width: auto;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin-top: 0px;
    width: 80%;
    background-color: transparent;
    height: 40px;
}

#comment-textarea:focus {
    outline: none;
    background-color: transparent;
}


#comment-post-button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    background-color: transparent;
    color: green;
    font-size: 17px;
    font-weight: 700;
    vertical-align: middle;
    /* margin-bottom: 20px; */
    border: none;
}

#form-messing-me-up {
    /* margin-bottom: 200px; */
    /* padding-bottom: 100px; */
    /* height: 100%; */
    display: flex;
}

#comment-post-button:hover {
    cursor: pointer;
}

#comment-post-button :hover {
    cursor: pointer;
}

#send-comment {
    font-size: 21px;

}

#error-for-comments {
    position: absolute;
    color:red;
    top: 75%;
    left: 66%;
    padding-bottom: 20px;
}
