/* TODO Add site wide styles */
html, body, #root, #root > div {
    height: 100vh;
    width: auto;
    padding: 0;
    margin: 0;
    font-family: Proxima Nova, helvetica neue, helvetica, arial, sans-serif;
  }
