#repeat-signup {
    padding-right: 7px;
}

#password-signup {
    padding-right: 67px;
}

#profile-pic-signup {
    padding-right: 38px;
}

#email-signup {
    padding-right: 97px;
}

#username-signup {
    padding-right: 56px;
}

.input-signup-page {
    margin-bottom: 7px;
    border: 1px solid rgba(20,20,20, 0.4);
    border-radius: 4px;
    padding-top: 4px;
}

#have-account {
    font-size: 13px;
    /* padding-right: 20px; */
}

#login-button-signup {
    margin-top: 10%;
    margin-left: 9%;
    width: 80%;
    border: 1px solid rgba(240,240,240, 0.6);
    background-color: rgba(0,128,55, 0.8);
    border-radius: 10px;
    color:rgba(240,240,240, 0.9);
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    padding-bottom: 7px;
}
