.post-form-main {
    display: flex;
    width: 100%;
    height: inherit;
}

.post-form-left {
    width: 60.7%;
    margin-bottom: 2%;
}

.mid-line-div {
    border: 1px solid rgba(20,20,20, 0.3);
    height: 85vh;
    margin-right: 6%;
}

.preview-post-div {
    border: 1px solid black;
    border-radius: 5px;
    width: 66%;
    margin-left: 20%;
    margin-top: 5%;
}

.caption-author-div-post > * {
    margin: 0;
    display: flex;
    padding-left: 15px;
    padding-bottom: 10px;
    max-width: 90%;
}

#overflow-post-caption {
    overflow-wrap: break-word;
    display: inline-block;
}

.view-all-comments-post {
    padding-left: 1px;
    font-size: 14px;
    padding-bottom: 25px;
}

#post-user-caption {
    font-weight: 700;
    font-size: 14px;
}





/* RIGHT SIDE */
.post-form-right {
    width: 39.3%;
    display: flex;
    padding-top: 3%;
}

.input-post-form {
    display: flex;
    flex-direction: column;
}

.post-form-buttons {
    display: flex;
}

#caption-input {
    width: 182%;
    min-height: 100px;
    resize: none;
}

#image-input {
    width: 180%;
    margin-bottom: 15px;
}

#image-label {
    padding-bottom: 7px;
}

#caption-label {
    padding-bottom: 7px;
}

#cancel-button-on-post {
    padding-top: 15px;
    font-size: 14px;
    padding-left: 15px;
}

#submit-post-button {
    margin-top: 5%;
    width: 100%;
    border: 1px solid rgba(240,240,240, 0.6);
    background-color: rgba(0,128,55, 0.8);
    border-radius: 10px;
    color:rgba(240,240,240, 0.9);
    padding-top: 4px;
    font-size: 15px;
    font-weight: 700;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 4px;
}

#submit-post-button:hover {
    cursor: pointer;
    background-color: rgba(0,128,55, 0.9);
}

#cancel-button-on-post:hover {
    color: rgba(0,128,55, 0.8);
}
